/* ? ================== VARIABLE CSS ================== */
:root {
  --header-height: 3rem;

  /* ? ================== COLORS ================== */
  /* DECIDE YOUR BROWSER THEME */
  --hue-color: 250; /* GREEN: 144,  Blue: 230, Purple: 250, Pink: 340 */

  /* HSL Color Mode */
  --first-color: hsl(var(--hue-color), 69%, 58%);
  --first-color-second: hsl(var(--hue-color), 71%, 47%);
  --first-color-alt: hsl(var(--hue-color), 55%, 50%);
  --first-color-lighter: hsl(var(--hue-color), 90%, 82%);

  --title-color: hsl(var(--hue-color), 10%, 15%);
  --text-color: hsl(var(--hue-color), 10%, 40%);
  --mainText: hsl(var(--hue-color), 10%, 20%);
  --image-color: hsl(var(--hue-color), 10%, 20%);
  --text-color-light: hsl(var(--hue-color), 10%, 65%);
  --caption-text-color: #000;
  --input-color: hsl(var(--hue-color), 70%, 88%);
  --body-color: hsl(var(--hue-color), 66%, 99%);
  --card-body-content-color: #0575e6;
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 15%, 85%);
  --scroll-thumb-color: hsl(var(--hue-color), 15%, 70%);
  --gradient-color: linear-gradient(
    140deg,
    rgba(93, 72, 199, 1) 0%,
    rgba(94, 91, 201, 1) 40%,
    rgba(101, 125, 157, 1) 100%
  );

  /*  ? ================== FONT AND TYPOGRAPHY ================== */
  --jetBrains-font: "JetBrains Mono", monospace;
  --major-font: "Major Mono Display", monospace;
  --raleway-font: "Raleway", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  --quicksand-font: "Quicksand", sans-serif;
  --source-code-font: "Source Code Pro", monospace;
  --gullible-font: "Maven Pro", monospace;
  --body-font: "Poppins", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --robotoMono-font: "Roboto Mono", monospace;
  /* 1rem = 16px, .5rem = 8px */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 14px;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* Margin Size - BOTTOM */
  /* .25rem = 4px, .5rem= 8px, 1rem= 16px, .75rem= 12px */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;

  /*  ? ================== Z-index ================== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*  ======== Background  ========= */
  --background-body-color: hsl(var(--hue-color), 66%, 99%);
  --border-color: none;
  --border-style: none;
  --footer-color: var(--first-color);
}

/* FONT SIZE FOR LARGER DEVICES */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smallish-font-size: 0.9rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ? ================== Variable colors for dark theme ================== */

body.dark-theme {
  /* HSL Color Mode */
  --first-color: hsl(var(--hue-color), 69%, 58%); /* Not changed */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --first-color-alt: hsl(var(--hue-color), 55%, 50%); /* Not changed */
  --first-color-lighter: hsl(var(--hue-color), 90%, 82%); /* Not changed */

  --title-color: hsl(var(--hue-color), 10%, 95%);
  --text-color: hsl(var(--hue-color), 10%, 75%);
  --mainText: hsl(var(--hue-color), 10%, 75%);
  --image-color: hsl(var(--hue-color), 69%, 58%);
  --text-color-light: hsl(var(--hue-color), 10%, 65%); /* Not changed */
  --caption-text-color: #fff;
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 30%, 14%);
  --card-body-content-color: #1e90ff;
  --container-color: hsl(var(--hue-color), 30%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 10%, 50%);
  --scroll-thumb-color: hsl(var(--hue-color), 15%, 32%);
}

/* ? ================== Nav Buttons Dark/Light theme ================== */

.nav_btns {
  display: flex;
  align-items: center;
  padding-left: var(--mb-0-5);
  margin: 0;
  margin-top: -5px;
  gap: var(--mb-0-5);
  transition: ease-in-out 0.3s;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* ? ================== Base ================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  transition: background-color 0.3s ease-in-out;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.moon-change-theme {
  transition: ease-in-out 0.2s;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.moon-change-theme:hover {
  transform: scale(1.2);
  color: var(--first-color-alt);
}

/* ? ================== Reusable CSS classes ================== */

.section {
  padding: 2rem 0 4rem;
  margin: auto;
  min-height: 80vh;
}

.section__title {
  font-size: var(-big-font-size);
  font-family: var(--gullible-font);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
  color: var(--text-color-light);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ? ================== Buttons ================== */

.button {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  background-color: var(--first-color);
  color: rgba(255, 255, 255, 1);
  padding: 1rem;
  border-radius: 0.8rem;
  font-weight: var(--font-medium);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.15rem;
  border-top: 0.5px solid rgba(255, 255, 255, 0.35);
  border-left: 0.5px solid rgba(255, 255, 255, 0.35);
  padding-left: 2.5rem;
  transition: 0.7s;
  font-size: var(--h3-font-size);
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button:hover {
  color: #fff;
  padding-left: 0.8rem;
  padding-right: 2.5rem;
  color: rgba(255, 255, 255, 1);
  transform: scale(1.08);
}

.button span {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0.5rem;
  transition: 0.5s ease-in-out;
  font-size: var(--h3-font-size);
}

.button:hover span {
  left: calc(100% - 1.8rem);
  color: rgba(255, 255, 255, 1);
}

.button:after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4);
  transform: translateX(-22rem) skew(30deg);
  transition: 0.5s ease-in-out;
  top: 0;
}

.button:hover:after {
  transform: translateX(4rem) skew(30deg);
}

/* ? ================== Layout ================== */

.container {
  margin-right: auto;
}

.grid {
  display: grid;
}

.header {
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* ? ================== Nav Styling ================== */

.header {
  opacity: 0.85 !important;
  transition: ease-in-out 0.4s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 15px 0px rgba(66, 68, 90, 1);
}

.header:hover,
.header:hover:not(.header-scrolled) {
  opacity: 0.85 !important;
}

.header-scrolled {
  opacity: 0.45 !important;
}

.nav {
  max-width: 1800px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: var(--mb-0-5);
  margin-right: var(--mb-0-25);
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: ease-in-out 0.3s;
}
.nav_logo:hover {
  color: var(--first-color);
}

.nav_toggle {
  font-size: var(--h3-font-size);
  cursor: pointer;
  margin-right: 2rem;
}

.nav_toggle:hover {
  color: var(--first-color);
}

.navbar-brand {
  font-family: var(--quicksand-font);
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
  padding-left: 2rem;
}

@media screen and (max-width: 779px) {
  .navbar-brand {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.5s;
  }
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: var(--small-font-size); */
  font-size: var(--h4-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: ease-in-out 0.3s;
  z-index: 1;
  position: relative;
  font-family: var(--quicksand-font);
}

.nav_link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--title-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0.3s, transform 0.3s ease-in-out;
  transform-origin: bottom right;
}

.nav_link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  background-color: var(--first-color);
  transform-origin: bottom left;
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
  transition: ease-in-out 0.3s;
  z-index: 1;
}

.nav_close:hover {
  color: var(--first-color-alt);
  transform: scale(1.2);
}

/* Show Menu */

.show-menu {
  bottom: 0;
}

/* Active Link */

.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* ? Splash Screen */

/* ? Opening vertically */

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

#first-name,
#last-name {
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#first-name.active,
#last-name.active {
  opacity: 1;
  transform: translateY(0);
}

#first-name.fade,
#last-name.fade {
  transform: translateY(-40px);
  opacity: 0;
}

.intro {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, aquamarine, mediumpurple);
  transition: 1s;
  font-family: var(--body-font);
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.intro svg {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: dash 5s ease-in-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*? ================== Home ================== */

.home {
  height: 70vh;
  align-content: space-between;
  margin-top: var(--mb-3);
  padding-bottom: 0;
}

.home__container {
  display: flex;
  gap: 1.75rem;
  padding-left: 0;
  margin-left: var(--mb-1);
  justify-content: space-around;
  align-items: center;
}

.home__content {
  display: grid;
  grid-template-columns: 0.08fr 1fr;
  grid-template-areas: "home__social home__content";
  padding-top: var(--mb-2-5);
  align-items: center;
  height: auto;
  align-content: space-between;
  margin-right: var(--mb-0-25);
  margin-left: 0;
}

.home__social {
  display: grid;
  grid-area: home__social;
  grid-template-columns: max-content;
  row-gap: 1rem;
  column-gap: 0;
  padding-top: 2rem;
  margin: 0;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
  transition: ease-in-out 0.3s;
  z-index: 1;
}

.home__social-icon:hover {
  color: var(--first-color-alt);
  transform: scale(1.3);
  color: #4559fa;
}

.home__data {
  grid-area: home__content;
  align-content: center;
  text-align: center;
  z-index: 1;
}

.home__welcome {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  padding: 1.5rem;
}

.home__title {
  text-align: center;
  font-size: var(--big-font-size);
  color: var(--text-color);
  margin-top: var(--mb-1-5);
  padding-bottom: 1rem;
}

.swing {
  display: inline-block;
  transform-origin: top center;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.swing-right {
  animation-name: swingRight;
  transform-origin: top right;
  position: relative;
  left: 0rem;
  top: 0.5rem;
}

@keyframes swingRight {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.Typewriter {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-2);
  color: var(--mainText);
  font-family: var(--robotoMono-font);
  font-size: var(--h1-font-size);
}

.home__subtitle {
  text-align: center;
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.home__scroll {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-1);
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.5s;
  z-index: 1;
}
.home__scroll-button:hover {
  color: #4559fa;
  transform: scale(1.1);
}

.home__scroll-mouse {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
}

.home__scroll-arrow {
  font-size: var(--h1-font-size);
}

/* ? ================== About ================== */

.about {
  padding-top: 1rem;
}

.about__img {
  position: relative;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0 2.8px 10px 20px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transition: ease-in-out 0.4s;
  z-index: 1;
}

.about__img-caption {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  display: inline-flex;
  justify-self: center;
  margin-bottom: 4rem;
  z-index: 1;
  border-radius: 50%;
}

.about__img:hover {
  transform: scale(1.1);
}

.about__caption-text {
  color: var(--caption-text-color);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  font-size: var(--smallish-font-size);
  text-align: center;
  white-space: normal;
  z-index: -1;
  pointer-events: none;
  width: 114%;
  background-color: var(--body-color);
  font-weight: 500;
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.about__img-caption:hover .about__caption-text {
  bottom: -6rem;
  opacity: 0.92;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
  color: var(--text-color);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
  color: var(--text-color-light);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
  font-family: var(--roboto-font);
}

.about__info-name,
.about__info-title {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/* ? ================== Skills ================== */
.my-element:hover {
  transform: scale(1.1);
}

.skills__container-card {
  position: relative;
  display: grid;
  width: auto;
  height: auto;
  padding-bottom: var(--mb-0-75);
  margin: auto;
  margin-bottom: var(--mb-2);
  z-index: 1;
  transition: ease-in-out 0.3s;
  border-radius: 70%;
}
.card_skill {
  position: relative;
  width: 160px;
  height: 210px;
  border-radius: 1rem;
  overflow: hidden;
  margin: auto;
  padding: 2em;
  transform: perspective(500px);
  transform-style: preserve-3d;
  z-index: 1;
}

.card_skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to right, aquamarine, mediumpurple);
  clip-path: circle(100px at 80% 20%);
  transition: 0.4s ease-in-out;
}

.card_skill:hover::before {
  clip-path: circle(280px at 80% -20%);
  transition: scale(1.08);
}

.card_skill::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -20%;
  color: var(--text-color);
}

.imgBx {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: translate(-18%, 0%);
  object-fit: fill;
}
.imgBx2 {
  position: absolute;
  width: 80%;
  height: 80%;
  transition: 0.5s;
  transform: translate(-10%, 5%);
  object-fit: fill;
}
.imgBx3 {
  position: absolute;
  width: 122%;
  height: 100%;
  transition: 0.5s;
  transform: translate(-25%, 0%);
  object-fit: fill;
}
.imgBx4 {
  position: absolute;
  width: 70%;
  height: 70%;
  transition: 0.5s;
  transform: translate(-12%, 8%);
  object-fit: fill;
}
.imgBx5 {
  position: absolute;
  width: 175%;
  height: 100%;
  transition: 0.5s;
  transform: translate(-32%, -10%);
  object-fit: fill;
}

.contentBx {
  display: flex;
  text-align: center;
  position: relative;
  width: 0%;
  height: 0%;
  transform: scale(0);
  transition: 1s;
}
.contentBx2 {
  display: flex;
  text-align: center;
  position: relative;
  width: 200%;
  height: 0%;
  transform: scale(0);
  transition: 1s;
  padding-left: 1rem;
}

.card_skill:hover .contentBx {
  display: flex;
  height: 100%;
  width: 70%;
  position: relative;
  object-fit: cover;
  text-align: center;
  transform: translate(-31%, 97.5%);
  transition: 0.8s;
}
.card_skill:hover .contentBx2 {
  display: flex;
  height: 100%;
  width: 200%;
  position: relative;
  object-fit: cover;
  text-align: center;
  transform: translate(-20%, 97.5%);
  transition: 0.8s;
}

.card_skill .contentBx h2 {
  position: relative;
  background: linear-gradient(90deg, #0575e6, #0575e6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: var(--raleway-font);
  font-size: 24px;
  font-weight: 100;
}
.card_skill .contentBx2 h2 {
  position: relative;
  background: linear-gradient(90deg, #0575e6, #0575e6);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: var(--raleway-font);
  font-size: 20px;
  font-weight: 100;
}
.shadow2 {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills__container-card:hover {
  transform: scale(1.1);
}

/* ------ Blob ------ */

#blob {
  height: 320px;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  filter: blur(200px);
}

/* ? ================== Qualifications ================== */

.qualification__content {
  margin-bottom: var(--mb-1);
  padding: auto;
}

.qualification__button {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  position: relative;
  transform: translateX(15%);
  margin-bottom: var(--mb-0-5);
  margin-top: var(--mb-1);
}

.qualification__icon {
  font-size: var(--h1-font-size);
  margin-right: var(--mb-0-5);
}

.qualification__journey {
  display: flex;
  justify-content: space-between;
}

.qualification__line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--first-color);
  align-items: flex-end;
  transform: translateX(20px);
  margin-right: 0;
  padding: 0;
}

.qualification__calendar {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__calendar-icon {
  font-size: var(--normal-font-size);
}

.qualification__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  background-image: linear-gradient(to right, #a770ef, #cf8bf3, #fdc5a5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.transparent_card {
  background-color: var(--background-body-color);
  border-color: var(--border-color);
}

.card-body {
  background-color: var(--body-color);
}

.qualification__subtitle {
  display: inline-block;
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-1);

  color: var(--card-body-content-color);
}

.mirror-face {
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 2rem;
  height: initial;
  overflow: hidden;
  position: relative;
}
.task {
  position: relative;
  overflow: hidden;
  perspective: 800px;
  transform-style: preserve-3d;
  z-index: 1;
}
.abstract {
  transition: 1s ease all;
}
.details {
  max-height: 0;
  padding: 0 var(--mb-1);
  overflow: hidden;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    max-height 0.3s ease-in-out;
  z-index: 1;
}

.details:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  background: var(--text-color-light);
}

.task:hover .abstract {
  transform: translateY(-2px);
  transition: transform 0.5s ease;
}
.task:hover .details {
  max-height: 1000px;
  overflow: hidden;
  visibility: visible;
  transform: scaleY(1);
  transition: transform 0.3s ease, visibility 0.3s ease, max-height 0.3s ease;
}

.qualification__start {
  display: inline-flex;
  width: 14px;
  height: 14px;
  margin-top: var(--mb-0-25);
  justify-content: flex-end;
  background-color: transparent;
  border-radius: auto;
  transform: translate(15px, 10px);
  color: var(--first-color);
}

.qualification__start-icon {
  font-size: var(--h2-font-size);
}

/* ? ================== Portfolio ================== */

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background-color: var(--body-color);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
  border: 0.1px solid #fff;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 350px;
  background-image: var(--gradient-first);
  box-shadow: 4px 13px 30px 1px rgba(57, 158, 218, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gradient-first);
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 120%;
  height: 150%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -140px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  /* color: #0d0925; */
  background: linear-gradient(
    to right,
    rgb(84, 51, 255),
    rgb(32, 189, 255),
    rgb(128, 192, 160)
  );

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: var(--first-color-alt); */
  margin-bottom: 20px;
  margin-top: 20px;
}
.blog-slider__text {
  /* color: #4e4a67; */
  color: var(--card-body-content-color);
  margin-bottom: 30px;
  line-height: 1.5em;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(
    147deg,
    var(--first-color) 0%,
    var(--first-color-alt) 47%
  );
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(76, 56, 252, 0.4);
  text-decoration: none;
  /* font-weight: 500; */
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.blog-slider__button:hover .button__icon {
  transform: translateX(0.25rem);
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--first-color-alt);
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/* ? ================== Contact Section ================== */

.linkedInLink a {
  text-decoration: none;
  position: relative;
}

.linkedInLink a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--first-color);
  visibility: hidden;
  transition: visibility 0.35s, transform 0.35s ease-in-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.linkedInLink a:hover::after {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact_mail {
  margin-left: var(--mb-3);
  margin-right: var(--mb-1-5);
  width: 90%;
}

.contact__container {
  row-gap: 2rem;
  width: auto;
  z-index: 1;
}

.contact__information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
  transition: ease-in-out 0.3s;
}
/* Form  */

.form_button {
  border: none;
}

.form-container {
  z-index: 1;
}

.contact-form {
  position: relative;
  z-index: 1;
}

form {
  max-width: 800px;
  text-align: center;
  margin: 20 px auto;
}

form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: var(--roboto-font);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

form input:focus,
form textarea:focus {
  -moz-box-shadow: 0 0px 2px #0575e6 !important;
  -webkit-box-shadow: 0 1px 1px #0575e6 !important;
  box-shadow: 0 1px 1px #0575e6 !important;
}

form #input-submit {
  color: white;
  background: #0575e6;
  cursor: pointer;
}

form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
  height: 130px;
}

.form__color {
  background-color: var(--body-color);
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf::after {
  clear: both;
}

.send-message {
  margin-top: var(--mb-1-5);
}

/* ? ================== Footer Section ================== */

.footer {
  padding: 0;
  text-align: center;
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  overflow: hidden;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background: linear-gradient(to right, #ad1deb, #1fd1f9);

  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-right: 2.5rem;
}

.footer__link {
  transition: ease-in-out 0.3s;
}

.footer__link:hover {
  /* color: var(--first-color-lighter); */
  transform: scale(1.1);
  /* color: #4559fa; */
}

.footer__socials {
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-right: var(--mb-1-5);
  column-gap: var(--mb-1);
}

.footer__social {
  margin: var(--mb-0-5);
  transition: ease-in-out 0.3s;
}

.footer__social:hover {
  transform: scale(1.3);
  /* color: var(--first-color-lighter); */
  color: #4559fa;
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--body-color);
  margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  /* color: #fff; */
  color: var(--body-color);
}

/* ? ================== SCroll Up Section ================== */

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 3rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  transform: scale(1.2);
}

.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}

.show-scroll {
  bottom: 5rem;
}

/* ? ================== Scroll Bar Section ================== */

::-webkit-scrollbar {
  width: 0.8rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* ============================== Media Queries =================================== */

/*  Small Screen */
@media screen and (max-width: 350px) {
  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: ease-in-out 0.3s;
    z-index: 1;
  }

  .nav_link:hover {
    color: var(--first-color);
    transform: scale(1.3);
  }
  .container {
    margin-left: var(--mb-0-25);
    margin-right: var(--mb-1);
  }

  .home__scroll {
    margin-top: var(--mb-0-25);
  }

  /* .home__scroll-button {
    margin-top: var(--mb-2);
  } */
  .about {
    margin-top: 10rem;
  }
  .about__img-caption {
    margin-right: var(--mb-0-5);
  }

  .button-contact {
    margin-right: var(--mb-3);
    margin-bottom: var(--mb-2);
  }

  .contact_mail {
    margin-left: var(--mb-1-25);
  }

  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav_list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .qualification__data {
    gap: 0.5rem;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
    border-radius: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
  }
  .portfolio {
    padding-bottom: 0;
  }

  .contact {
    padding-top: 0;
  }
  form {
    margin-right: 1.5rem;
  }
}

/*  */

@media only screen and (min-width: 350px) and (max-width: 417px) {
  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: ease-in-out 0.3s;
    z-index: 1;
  }

  .nav_link:hover {
    color: var(--first-color);
    transform: scale(1.3);
  }
  .container {
    margin: 0 auto;
    max-width: 90%;
  }
  .home__welcome {
    margin-left: -2.5rem;
  }
  .home__title {
    /* margin-right: 3rem; */
    margin-left: -2.5rem;
  }
  .Typewriter {
    margin-left: -2.5rem;
  }
  .form-container {
    margin-right: 1rem;
  }

  .about {
    margin-top: 6rem;
  }
  .home__scroll-button {
    margin-bottom: 2rem;
  }
  .nav_list {
    margin-left: -2rem;
  }
}

@media only screen and (min-width: 417px) and (max-width: 575px) {
  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: ease-in-out 0.3s;
    z-index: 1;
  }

  .nav_link:hover {
    color: var(--first-color);
    transform: scale(1.3);
  }
  .form-container {
    margin: 0 auto;
    max-width: 90%;
  }
  .nav_list {
    margin-left: -2rem;
  }
}

/*  */
/*  Medium Screen */
@media only screen and (max-width: 575px) {
  .header {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: ease-in-out 0.3s;
    z-index: 1;
  }

  .nav_link:hover {
    color: var(--first-color);
    transform: scale(1.3);
  }
  .container {
    margin: 0 auto;
    max-width: 90%;
  }

  .home__content {
    grid-template-columns: max-content 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  #section {
    min-height: 60vh;
  }
  .about__container,
  .skill__container,
  .portfolio__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: var(--mb-1);
    padding-right: var(--mb-1);
  }

  .button-contact {
    margin-right: var(--mb-3);
    margin-bottom: var(--mb-2);
  }

  form {
    margin-left: var(--mb-1);
  }

  .contact_mail {
    margin-left: var(--mb-1-25);
  }

  .portfolio {
    padding-bottom: 0;
  }

  .contact {
    padding-top: 0;
  }

  .qualification__start-icon {
    position: absolute;
    transform: translateY(95%);
  }
  .nav_list {
    margin-left: -2rem;
  }
}

/*  */

@media screen and (min-width: 576px) and (max-width: 768px) {
  .header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: ease-in-out 0.3s;
    z-index: 1;
  }

  .nav_link:hover {
    color: var(--first-color);
    transform: scale(1.3);
  }
  .container {
    margin: 0 auto;
    max-width: 90%;
  }

  .home__scroll {
    margin-top: var(--mb-0-25);
  }

  .about__img-caption {
    margin-right: var(--mb-0-5);
  }

  .button-contact {
    margin-right: var(--mb-3);
    margin-bottom: var(--mb-2);
  }

  .contact_mail {
    margin-left: var(--mb-1-25);
  }

  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav_list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .qualification__data {
    gap: 0.5rem;
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
    border-radius: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
  }
  .portfolio {
    padding-bottom: 0;
  }

  .contact {
    padding-top: 0;
  }

  .form-container {
    margin: 0 auto;
    max-width: 90%;
  }
  .nav_list {
    margin-left: -2rem;
  }
}

/*  */

/*  Large Screen */
@media screen and (min-width: 769px) {
  .home__data {
    transform: translateX(-2rem);
  }
  .moon-change-theme {
    transition: ease-in-out 0.2s;
    margin-bottom: 0.6rem;
    color: var(--text-color);
    font-size: 1.15rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }
  .portfolio {
    margin-left: 3rem;
  }

  .header,
  .main {
    padding: 0 0rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: none;
  }

  .nav_list {
    display: flex;
    column-gap: 2rem;
  }

  .nav_menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    padding-top: 2.5rem;
    column-gap: 2rem;
  }
  .home__scroll-button {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .about__container {
    column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }

  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }

  .about__buttons {
    justify-content: center;
  }

  .qualification__button {
    margin: 0 var(--mb-1);
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials {
    justify-content: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}
/*  Larger Screen */
@media screen and (min-width: 992px) {
  .moon-change-theme {
    transition: ease-in-out 0.2s;
    margin-bottom: 0.6rem;
    color: var(--text-color);
    font-size: 1.2rem;
  }
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  #home {
    height: 85vh;
  }

  .home__social {
    display: flex;
    flex-direction: column;
    left: 0;
    z-index: 1;
    justify-content: initial;
    transform: translateX(-1rem);
  }

  .contact__form {
    width: 460px;
  }

  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    padding-left: var(--mb-3);
    padding-top: var(--mb-3);
    row-gap: 4rem;
  }
}

/* Largest Screens */

@media screen and (min-width: 1150px) {
  .home__social {
    transform: translateX(-3rem);
  }
}
@media screen and (min-width: 1350px) {
  .home__social {
    transform: translateX(-5rem);
  }
}
@media screen and (min-width: 1400px) {
  .home__social {
    transform: translateX(-8rem);
  }
}
@media screen and (min-width: 1500px) {
  .home__social {
    transform: translateX(-11rem);
  }
}
@media screen and (min-width: 1600px) {
  .home__social {
    transform: translateX(-14rem);
  }
}
@media screen and (min-width: 1750px) {
  .home__social {
    transform: translateX(-18rem);
  }
}
@media screen and (min-width: 1800px) {
  .home__social {
    transform: translateX(-22rem);
  }
}
@media screen and (min-width: 1850px) {
  .home__social {
    transform: translateX(-24rem);
  }
}

/* Loading  */
